In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df=pd.read_csv("homeprices.csv")
df

   Area   price  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0  2600  550000         NaN         NaN         NaN         NaN         NaN
1  3000  565000         NaN         NaN         NaN         NaN         NaN
2  3200  610000         NaN         NaN         NaN         NaN         NaN
3  3600  680000         NaN         NaN         NaN         NaN         NaN
4  4000  725000         NaN         NaN         NaN         NaN         NaN